/* Themes */
$primary: #4551dd;
$secondary: #f8b001;

/* Colors */
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "black": #000000,
  "white": #ffffff,
  "gray": #807c7c,
  "dark-gray": #2b2929,
);

/* Model Properties */
//border-radius
$br-base: 0.75rem;
$br-lg: 1rem;
$br-xl: $br-base + 0.5;
$br-xxl: $br-base * 2;

//box shadow
$shadow: 5px 5px 6px  #0000001a;

$base-margin: 0.25rem;
$base-padding: 0.25rem;
$shadow: (0, 2px, 4px, #0000001a);
