@use "sass:math";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");



/* Colors */
$primary: #4551dd;
$secondary: #f8b001;

/* Color Palette  */
$colors: (
    "blue": $primary,
    "yellow": $secondary,
    "gray" : #3d3c3c,
    "white": #ffffff,
    "black": #000000,
    );


/* Typography */ 
$font-family-base: "Poppins";


/* Font Size */
$font-base: 1rem;
$font-sm: 0.75rem;
$font-lg: $font-base + 0.5;
$font-xl: $font-base + 0.75;

/* Font bold */
$font-bold-normal: 400;
$font-bold-lg: 600;
$font-bold-xl: 800;

/* Line-height */
$leading-base: 16px;



