.hero {
  position: relative;
  background-image: url("/src/assets/images/hero-image.jpg");
  background-size: cover;
  background-position: top;
  height: 100vh;
  border-radius: $br-base;
  &__wrapper {
   
    display: flex;
    flex-direction: column;
    width: 50%;
    
  }
  &__quote {
    // position: absolute;
    // top: 50%;
    // left: 0%;
    text-align: center;
    border-radius: 0.75rem;
    max-width: 500px;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    @include sm {
      // padding: 0.5rem;
      font-size: 1.75rem;
    }
  }
  &__card-grid {
    // position: absolute;
    // top: 65%;
    // left: 0;
    // width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    
    .hero-card {
      display: flex;
      flex-direction: column;
     
      border-radius: $br-lg;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      
      &:hover {
        transform: translateY(-10px);
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
      }

      .hero-card-icon {
        width: 80px;
        height: 80px;
        background-color: $secondary;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        img {
          width: 50%;
          height: 50%;
          object-fit: contain;
        }
      }
    }
  }
}
