.hero {
  height: calc(100vh + 150px);
  @include md {
    height: calc(100vh + 350px);
  }
  @include lg {
    height: calc(100vh + 400px);
  }
  @include sm {
    height: calc(100vh + 950px);
  }

  .hero-quote {
    text-align: center;
    border-radius: 0.75rem;
    max-width: 500px;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    @include sm {
      font-size: 1.75rem;
    }
  }

  .hero-card-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
      grid-template-columns: 1fr;
    }
  }
}
