%align-center {
  display: flex;
  align-items: center;
}

.top-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  .navbar {
    @extend %align-center;
    justify-content: space-between;
    padding: 0.75rem ;

    &__links {
      display: flex;
      gap: 1rem;
      @include md {
        display: none;
      }
      .links {
        @extend %align-center;
        gap: 1.25rem;
        li:hover {
          color: $secondary;
        }
      }
      .signup {
        @extend %button;
        border-radius: 0.5rem;
      }
    }

    &__burger-menu {
      width: 28px;
      height: 28px;
      display: none;
      cursor: pointer;
      @include sm {
        width: 24px;
        height: 24px;
      }
      @include md {
        display: flex;
      }
    }
  }
}
