@mixin btn($bg-btn: #c4c4c4) {
    padding: 8px 24px;
    width: 100%;
    background-color: $bg-btn;
    outline: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
  }
  
  .btn {
      @include btn;
  }
  
  @each $key, $val in $colors {
    .btn-#{$key} {
      @include btn($val);
      &:hover {
          background-color: lighten($val, 5%);
      }
  
      
    }
  }